<% provide(:title, "About") %>
<h1>About</h1>
<div class="aboutme">
<p>A software engineer has to test both hard work and software systems, and he/she needs to diagnose and resolve system faults. My role also covers writing programs, designing and writing code for operating systems and software, and to ensure efficiency. A software engineer may have a more defined role and work within a group of IT specialists. This can include systems analysts, systems designers, and systems testers.</P>


<p>A Software Engineer's responsibilities are Analyzing Information, Software Requirements, Software Design, Software Documentation, Software Testing, Teamwork, General Programming Skills, Software Development Fundamentals, Software Development Process, and Software Architecture(U.S Bureau of Labor Statistics).</p>


</p>The median average annual salary for a software engineer is between $40,000 and $55,000. For senior or management level, the software engineer can earn $50,000 to $75,000 or more per year. Software engineers are often eligible for bonuses. Salary is dependent upon the company, organization, location, and nature of the employer's business. According to the U.S Bureau of Labor Statistics, employment for software engineer is growing 17 percent from 2012 to 2019, much faster than the average for all other professions.</p>


<p>An education with a  bachelor's degree in software, math, or science is required. The software engineer needs to have strong skills and the ability to pay careful attention to small details to become a success in software industries.</p>
</div>
