<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class="mycontact">
  <%= link_to image_tag("hero13.jpg", size: "400x400", alt: "Rails logo") %>
  <P>Name: Puspa Khanal</p>
  <p>Adress: 51 Michelle Dr apt A7</p>
  <p>Lancaster PA 17603</p>
  <p>Phone:717-283-5548</p>
  <p>Email:khanalpuspa70726@gmail.com</p>
</div>
